<strong> Primeiro Acesso </strong>

<p>A partir de agora você está cadastrado como usuário no sistema de gerenciamento de parcelas ITZ</p>

<p> Utilize os dados para acessar nosso sistema: </p>

<p><strong>Email:</strong> {{email}}</p>
<p><strong>Senha:</strong> {{password}}</p>
